@use '../base/searchBox';

.lupa-search-box-input-field {
  position: relative !important;
  background: transparent !important;
}

.lupa-search-box-input-field,
.lupa-hint {
  color: searchBox.$input-color;
  height: searchBox.$input-height;
  padding: searchBox.$input-padding;
  line-height: searchBox.$input-line-height;
  font-size: searchBox.$input-font-size;
  font-family: searchBox.$panel-font-family;
  width: 100%;
}

.lupa-search-box-input-field {
  border: searchBox.$input-border;
  color: searchBox.$input-color;
}

.lupa-hint {
  opacity: 0.5;
  position: absolute !important;
  pointer-events: none;
  border: 1px solid transparent;
}

.lupa-input-clear {
  display: none;
}
