@use './lupaConfig.scss';

.lupa-search-result-product-card {
  border-radius: 8px;
  margin-bottom: 28px;
  border: none;
  padding: 8px;
}

.lupa-search-result-product-contents {
  border: 1px solid #0000001a;
  box-shadow: lupaConfig.$card-shadow;
  border-radius: 8px;
  padding: 12px;
  background-color: lupaConfig.$white;
  &:hover {
    border-color: lupaConfig.$primary;
  }
}

.lupa-search-results-product-title-text {
  font-weight: 300;
  line-height: 20px;
}

.lupa-search-results-image-wrapper {
  padding-bottom: 50%;
}

.lupa-search-result-product-image-section {
  max-height: 220px;
}

@mixin price-emphasis {
  display: inline;
  font-weight: 700;
  font-size: 32px;
  line-height: 27px;
  margin-top: 8px;
}

.lupa-discount {
  @include price-emphasis;
  color: lupaConfig.$primary;
}

.lupa-custom-id {
  opacity: 0.5;
}
.lupa-custom-brand {
  color: lupaConfig.$primary;
  font-weight: 600;
}

.lupa-final {
  @include price-emphasis;
}

.lupa-regular {
  text-decoration: line-through;
  color: lupaConfig.$text-color-faded;
  display: inline-block;
  margin-left: 4px;
}

.lupa-fade-enter-active,
.lupa-fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}

.lupa-fade-enter-from,
.lupa-fade-leave-to {
  opacity: 0;
}

@media (max-width: 980px) {
  .lupa-search-result-product-contents {
    padding: 12px;
  }
}

.lupa-search-box-product-addtocart button {
  background: none;
  border: 1px solid lupaConfig.$border-color;
  padding: 8px 16px;
  border-radius: 8px;
}
