@use './lupaConfig.scss';

.lupa-search-result-product-card {
  border-radius: 8px;
  margin-bottom: 28px;
  border: none;
  padding: 8px;
}

.lupa-search-result-product-contents {
  border: 1px solid #0000001a;
  box-shadow: lupaConfig.$card-shadow;
  border-radius: 8px;
  padding: 12px;
  background-color: lupaConfig.$white;
  &:hover {
    border-color: lupaConfig.$primary;
  }
}

.lupa-search-results-product-title-text {
  font-weight: 300;
  line-height: 20px;
}

.lupa-search-result-product-details-section {
  z-index: 1;
}

.lupa-search-results-image-wrapper {
  padding-bottom: 75%;
}

.lupa-search-result-product-image-section {
  max-height: 220px;
}

@mixin price-emphasis {
  display: inline;
  font-weight: 700;
  font-size: 32px;
  line-height: 27px;
  margin-top: 8px;
}

.lupa-discount {
  @include price-emphasis;
  color: lupaConfig.$primary;
}

.lupa-custom-id {
  opacity: 0.5;
}
.lupa-custom-brand {
  color: lupaConfig.$primary;
  font-weight: 600;
}

.lupa-final {
  @include price-emphasis;
}

.lupa-regular {
  text-decoration: line-through;
  color: lupaConfig.$text-color-faded;
  display: inline-block;
  margin-left: 4px;
}

.lupa-fade-enter-active,
.lupa-fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}

.lupa-fade-enter-from,
.lupa-fade-leave-to {
  opacity: 0;
}

@media (max-width: 980px) {
  .lupa-search-result-product-contents {
    padding: 12px;
  }
}

.lupa-search-box-product-addtocart button,
.lupa-search-results-product-addtocart button {
  background: none;
  border: 1px solid lupaConfig.$border-color;
  padding: 8px 16px;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background-color: lupaConfig.$primary;
    color: lupaConfig.$white;
  }
}

.lupa-search-results-product-addtocart button {
  margin-top: 10px;
  width: 100%;
}

.lupa-element-group-rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.lupa-total-ratings {
  position: relative;
  font-size: 12px;
  margin-left: 6px;
}

$star: 15px;

.lupa-rating-wrapper,
.lupa-ratings-base {
  width: $star * 5;
}

.lupa-total-ratings {
  margin-left: 5px;
}

.lupa-ratings {
  position: relative;
  height: 24px;
  font-size: 0;

  .lupa-stars {
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  .lupa-base-stars,
  .lupa-stars {
    white-space: nowrap;
  }
  .lupa-rating {
    display: inline-block;
    &::after {
      @include lupaConfig.material-icon;
      content: '\f04ce';
      font-size: $star;
    }
  }
  .lupa-rating-not-highlighted {
    color: lupaConfig.$star-base-color;
  }
  .lupa-rating-highlighted {
    color: lupaConfig.$star-color;
  }
}
