@use "./lupaConfig.scss";

#lupa-search-results-toolbar {
  margin: 0 0 12px;
  padding-right: 1.6%;
}

#lupa-search-results-toolbar.lupa-toolbar-bottom {
  justify-content: center;
  margin: 24px 0;
}

.lupa-search-results-summary {
  font-weight: 300;
  font-size: 18px;
  line-height: 15px;
  span {
    color: lupaConfig.$primary;
    font-weight: 700;
  }
}

.lupa-page-number {
  min-width: 48px;
  min-height: 48px;
  color: #464646;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  &.lupa-page-number-selected,
  &:hover {
    background: rgba(60, 83, 244, 0.08);
    font-weight: 300;
  }
}

.lupa-page-arrow {
  font-size: 0;
  &::before {
    @include lupaConfig.material-icon;
    font-size: 20px;
    content: "\F0142";
  }
  &:first-child::before {
    @include lupaConfig.material-icon;
    font-size: 20px;
    content: "\F0141";
  }
}

#lupa-similar-query-text-component,
.lupa-highlighted-search-text {
  color: lupaConfig.$primary;
}

.lupa-similar-query-label {
  margin-bottom: 18px;
  font-weight: 300;
}

.lupa-empty-results {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 36px;
  color: lupaConfig.$text-color-faded;
}
