$primary: #3c53f4;
$secondary: #3c53f4;
$text-color: #161616;
$text-color-faded: #9e9e9e;
$text-color-faded-alt: #7d7d7d;
$border-color: #d8d8d8;
$background-hover: #fafafa;
$background: #f4f4f4;
$background-dark: #464646;
$discount-color: #ec0b43;
$white: #fff;
$icon-font-family: "Material Symbols Outlined";
$link: darken($primary, 15%);
$base-font-size: 16px;
$size-s: 767px !default;
$font-family: "Roboto", sans-serif;
$border: 1px solid $border-color;
$shadow: 0px 4px 6px rgb(0 0 0 / 25%);
$panel-shadow: 0px 1px 1px rgb(22 22 22 / 14%), 0px 2px 1px rgb(22 22 22 / 12%),
  0px 1px 3px rgb(22 22 22 / 20%);
$card-shadow: 0px 1px 1px rgba(22, 22, 22, 0.14),
  0px 2px 1px rgba(22, 22, 22, 0.12), 0px 1px 3px rgba(22, 22, 22, 0.2);

@mixin material-icon {
  direction: ltr;
  display: inline-block;
  font-family: $icon-font-family;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
