@use "../base/general";

.lupa-search-container {
  .lupa-suggestion,
  .lupa-search-box-history-item-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    margin: 0 8px;
    padding: 6px 12px;
    background-color: general.$background;
    border-radius: 24px;
    margin-bottom: 8px;
    font-size: 13px;
    height: 30px;
    &:hover {
      text-decoration: none;
    }
  }

  .lupa-search-box-history-item {
    flex-shrink: 0;
  }

  .lupa-search-box-history-item-content {
    flex-direction: row;
    display: flex;
    align-items: center;
    .lupa-search-box-history-item-text,
    .lupa-search-box-history-item-clear {
      &:hover,
      &.lupa-search-box-history-item-highlighted {
        background: transparent;
        color: general.$primary;
        text-decoration: none;
      }
    }
    .lupa-search-box-history-item-text,
    .lupa-search-box-history-item-clear {
      padding: 0;
    }
    .lupa-search-box-history-item-clear {
      padding-left: 5px;
    }
  }

  .lupa-search-box-history-item-text {
    font-size: 13px;
  }

  .lupa-suggestion-value {
    margin-right: 0;
    line-height: 1;
    strong {
      font-weight: 400;
    }
  }

  .lupa-suggestion-facet {
    font-size: 10px;
    line-height: 1;
    margin-top: 4px;
  }

  .lupa-suggestion {
    &:hover {
      color: general.$primary;
      .lupa-suggestion-facet-label,
      .lupa-suggestion-facet-value {
        color: general.$primary;
      }
    }
  }

  .lupa-suggestion-facet-label {
    line-height: 1;
    color: #7d7d7d;
    font-weight: 400;
    margin-right: 4px;
  }

  .lupa-suggestion-facet-value {
    color: #464646;
    font-weight: 600;
  }
}
